* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #426696;
    font-size: 2.2rem;
    opacity: 0.8;
}
h2{
    color: #658ec6;
    opacity: 0.8;
}
h3{
    color: #426696;
    opacity: 0.8;
}
p,li{
    color: #658ec6;
    opacity: 0.8;
    font-size: 120%
}

li{
    margin-left: 1rem;
    padding-left: 1rem;
}

main{
    font-family: 'Dosis', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbed, rgb(213, 199, 240));
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width : 78%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.863),
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255,255,255,0.3)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}

.circle1{
    top: 2%;
    right: 10%;
}
.circle2 {
    bottom: -4%;
    left: 6%
}

.title{
    padding-bottom: 1.5rem;

}
.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    padding-left: 50;
    padding-right: 50;
}
.link {
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    align-items: center;
    margin-top: 0.5rem;
}

a{
    display: inline-block;
    color: #658ec6;
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    padding-left: 1rem;
    font-size: 1.4rem;
}

.link h2{
    padding: 0rem 2rem;
}
.about{
    flex: 2;
}
.icon{
    background: linear-gradient(to right top, #65dfc9, #6cdbed, rgb(213, 199, 240));
    border-radius: 2rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#logo{
    height: 150px;
    width: 150px;
}
/* .join img{
    max-width: 60%;
} */


/* ABOUT */
.status{
    margin-bottom: 3rem;
}

.about{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

#EarthClipart{
    height: 26%;
    width: 26%;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #426696;
    margin-right: 1.5rem;
    margin-top: 5.3%;
}

#EnergyClipart{
    height: 35%;
    width: 28%;
    border-radius: 1.5rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #426696;
    margin-right: 1.5rem;
    margin-left: 0rem;
    margin-top: 3rem;
}

#ElevatorClipart{
    height: 165px;
    width: 165px;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.3rem;
    border-color: #426696;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 2.5rem;
}

#CityClipart{
    height: 165px;
    width: 165px;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.3rem;
    border-color: #426696;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 2.5rem;
}

#design{
    border-radius: 1rem;
    height: 90%;
    width: 90%;
}

#designPic{
    margin-left: 15%;
    border-radius: 1rem;
    height: 70%;
    width: 70%;
}

#poster{
    margin-left: 1rem;
    height: 260px;
    width: 200px;
}

#liverBite{
    height: 165px;
    width: 165px;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.3rem;
    border-color: #426696;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}

.card{
    display: flex;
    background: linear-gradient(to left top,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.5)
    );
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 6px 6px 30px rgba(107, 101, 101, 0.4);
    justify-content: space-between;
}